[Unit]
Description=TurnTouch Pi Service
After=network.target

[Service]
Type=simple
User=root
Environment="NEST_CLIENT_ID="
Environment="NEST_CLIENT_SECRET="
WorkingDirectory=/home/pi/raspi-turntouch
ExecStart=/usr/bin/python3 /home/pi/raspi-turntouch/monitor.py

[Install]
WantedBy=multi-user.target
